body {
    background-image: url(../images/concrete_seamless.png)
}

.navbar-custom {
    background-color: #ffffff;
    border-bottom: solid 8px #cccccc;
}

.navbar-brand {
    background: #4aaaa5;
    color: #ffffff;
}

.cssbg {
    background: #ffffff;
}

.nav-link {
    color: dimgray;
}

footer .container {
    background: #666666;
    color: #777777;
}

.header-inner{
    color: #4aaaa5;
}

.pichead {
    position: absolute;
    bottom: -5px;
    width: 94%;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #4aaaa5;
    color: #ffffff;
    padding: 15px;
}
}